.btn-primary {
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:450;
  text-align:center;
  transition: 0.5s ease all;
  color: #fff;
  background-color: #6D43BC!important;
}

.btn-primary:hover {
  color: #fff!important;
  background-color: #2B806F!important;
}

.btn-primary:focus {
  background-color: #88CE6C!important;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:active:focus
 {
  background-color: #88CE6C!important;
}

.navbar {
	background: #444444;
}
.navbar-brand {
  position: relative;
  width: 170px;
  left: 15px;
}

.nav-item {
	transition: 0.5s ease all;
}
.nav-item:hover {
	background-color: #4E434D;
}

.nav-link {
	color: #FFFFFF;
	text-align:center;
	font-size: 32px;
	margin-top: 25px;
}

body {
    background: #595959;
    color: #ffffff;
    font-family: 'Arvo', sans-serif;
}

.card-body {
    background: #A78DD8;
}


h1, h2 {
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #ffffff;
}

.table {
	color: #ffffff;
}
.table-dark {
    color: #fff;
    background-color: #3E4649;
}
tr {
	border: hidden
}

.card-group {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
  }
  
  .card img {
    width: 100%;
  }
  
  .card {
    background-color: cornflowerblue;
    width: 30%;
    color: #ffffff;
    margin: 0px;
    flex: 2;
    border: 0px solid lightgrey;
    display: flex;
    flex-direction: column;
  }
  
  .card-block {
    padding: 10px;
    background-color: #4D4D4D;
    flex: 1;
    transition: 0.5s ease all;
            
  }
  .card-block:hover {
    background-color: #A78DD8!important;
    color: #FFFFFF;
  }
  
  .card-text a{
  	color: #ffffff;
  }
  .card-title a {
    font-size: 18px;
    color: #ffffff;
    font-family: verdana, sans;
  }
  
  .card-footer {
    padding: 15px;
    border-top: 1px solid lightgrey;
    background-color: lightgrey;
  }

  .bouncy{
     animation:bouncy 5s infinite linear;
     position:relative;
    }
    @keyframes bouncy {
     0%{top:0em}
     40%{top:0em}
     43%{top:-0.9em}
     46%{top:0em}
     48%{top:-0.4em}
     50%{top:0em}
     100%{top:0em;}
    } 
