.btn-primary {
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:450;
  text-align:center;
  transition: 0.5s ease all;
  color: #fff;
  background-color: #A78DD8!important;
}

.btn-primary:hover {
  color: #fff!important;
  background-color: #47B066!important;
}

.pad-space {
	width: 100%;
	height: 40px;
}
.design-bar {
	/*background-color: #47B066; green */
	background-color: #A78DD8; /* lavenderish */
	width: 100%;
	height: 10px;
}

.vertical-center {
	/*margin-left: 25vw;*/
	margin: 0 auto;
	display: flex;
	justify-content: center;

}

.top-breather {
	margin-top:30;
}

.footer-block {
	width: 100%;
	height: 150px;
	background-color: #A78DD8;
	position: static;
	bottom: 0;
}

.btn-primary:focus {
  background-color: #88CE6C!important;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:active:focus
 {
  background-color: #88CE6C!important;
}

.navbar {
	background: #444444;
}
.navbar-brand {
  position: relative;
  /*width: 170px; */
  left: 15px;
  height: 100px;
}

.nav-item {
	transition: 0.5s ease all;
}
.nav-item:hover {
	background-color: #4B4E4B;
}

.nav-link {
	color: #FFFFFF;
	text-align:center;
	font-size: 24px;
	margin-top: 25px;
	margin-left: 15px;
}
.container {
	display: flex;
	flex-direction: column;
	min-height: 73vh;
}
body {
    background: #595959;
    color: #ffffff;
    font-family: 'verdana', sans;
    min-height: 60%;
}

.card-body {
    background: #A78DD8;
    color: #79D2AA;
}


h2 {
    font-weight: bold;
    color: #ACDC91;
}

h3 {
	color: #E9C9D0;
}

.accent-green-text {
	color: #79D2AA;
}

h1 {
	font-weight: bold;
	/*color: #42D884;*/
	color: #8CD9B6;	
}

p {
    font-size: 16px;
    color: #ffffff;
}

.table {
	color: #ffffff;
}
.table-dark {
    color: #fff;
    background-color: #595959;
}
tr {
	border: hidden
}

.card-group {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
  }
  
  .card img {
    width: 100%;
  }
  
  .card {
    background-color: cornflowerblue;
    width: 30%;
    color: #ffffff;
    margin: 0px;
    flex: 2;
    border: 0px solid lightgrey;
    display: flex;
    flex-direction: column;
  }
  
  .card-block {
    padding: 10px;
    background-color: #4D4D4D;
    flex: 1;
    transition: 0.5s ease all;
            
  }
  .card-block:hover {
    background-color: #A78DD8!important;
    color: #FFFFFF;
  }
  
  .card-text a{
  	color: #E9C9D0;
  }
  .card-title a {
    font-size: 18px;
    color: #79D2AA;
    font-family: verdana, sans;
  }
  
  .card-footer {
    padding: 15px;
    border-top: 1px solid lightgrey;
    background-color: lightgrey;
  }

  .bouncy{
     animation:bouncy 5s infinite linear;
     position:relative;
    }
    @keyframes bouncy {
     0%{top:0em}
     40%{top:0em}
     43%{top:-0.9em}
     46%{top:0em}
     48%{top:-0.4em}
     50%{top:0em}
     100%{top:0em;}
    } 
