.btn-primary {

color: #fff;

background-color: teal;

border-color: white;

margin-bottom: 5px;

}

.btn-primary:hover {
    color: #27A967;
    background-color: pink;
    border-color: white;
}

body {
    background: #3E4649;
    color: #f7f7f7;
    font-family: 'Montserrat', serif;
}

.card-body {
    background: #3E4649;
}


h1, h2 {
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #cdcdcd;
}

.table-dark {
    color: #fff;
    background-color: #3E4649;
}

.card-columns {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
  }
  
  .card img {
    width: 100%;
  }
  
  .card {
    background-color: cornflowerblue;
    width: 30%;
    margin: 0px;
    flex: 2;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
  }
  
  .card-block {
    padding: 10px;
    background-color: #fff;
    flex: 1;        
  }
  
  .card-title {
    font-size: 18px;
    color: grey;
    font-family: verdana, sans;
  }
  
  .card-footer {
    padding: 15px;
    border-top: 1px solid lightgrey;
    background-color: lightgrey;
  }