{% extends "parent.html" %}
{% load title_format %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h1>Yet Another Video Site</h1><br>

<div class="container">
  <div class="card-columns">
  {% for video in most_recent %}
    <div class="card">
      <img class="card-img-top" src="/media/{% tb_path video.path %}" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title"><a href='/video_player/{{ video.id }}'>{{ video.title }}</a></h4>
        <p class="card-text"><a href="/user_profile/{{ video.uploaded_by }}">Uploaded by {{ video.uploaded_by }}</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Uploaded on: {{ video.born_on }}</small>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
