{% extends "parent.html" %}

{% block title %}
Upload Video
{% endblock %}

{% block body %}
<div class="container-extend">
	<h1 class="vertical-center top-breather"><span class="styled-header">Upload</span> &nbsp;a Video:</h1><br>
<br>
<form action="" method="POST" enctype="multipart/form-data">
<!-- > <form action="upload_video" method="POST"> </!-->
    {% csrf_token %}
    <table class="table table-dark vertical-center top-breather">{{ form.as_table }}</table>
    <br>
    <button type="submit" class="btn btn-primary vertical-center top-breather">Upload Video</button>
</form>
</div>
{% endblock %}
