{% extends "parent.html" %}
{% load static %}
{% load title_format %}
<!-- If every view had some sort of "logged-in bit/indicator passed in, we could extend a different parent for logged out and logged in. " -->

{% block title %}
{{ video.title }} 
{% endblock %}

{% block body %}
<h1>Yet Another Video Site</h1><br>
<br><br>
<video width = "100%" height="auto" controls>
    <source src="{{ video.path }}" type="video/mp4">
</video>

<br><br>
{% has_insights video.sentiment as video_has_insight %}
<div class="row top-breather"> 
	<div class="col-sm">
		<h2>{{ video.title }}</h2>
		<h4>{{ video.description }}</h4>
	</div>	
	<div class="col-sm">
		{% if video_has_insight == True %}
		<br><a href='/view_insights/{{ video.id }}' class="btn btn-primary ">View Insights</a><br><br>
		{% endif %}
	</div>	
</div>

<div class="container">
{% if video.sentiment is None %}
    <p>Check back soon! Insight generation in progress...</p><br>
{% elif video_has_insight == True %}
{% elif video.sentiment == "INSIGHT_NOT_ABLE_TO_GENERATE" %}
    <p>Cannot Generate Insight: Music/No Words Detected</p>
{% elif video.sentiment == "NO_AUDIO" %}
    <p>Cannot generate insight - Video has no audio</p><br>
{% else %}
    <p>Check back soon! Insight generation in progress...</p><br>
{% endif %}
<br><br><br><br>
<div class="pad-space"></div>
<h4>Comments:</h4>

{% if not comments %}
    <p>Be the first to add a comment!</p>
{% else %}    
    {% for comment in comments %}
    <br>
    <div class="media border p-3">
        <img src="{% static 'img/img_avatar3.png' %}" alt="{{ comment.user }}" class="mr-3 mt-3 square" style="width:60px;">
        <div class="media-body">
        <h4>{{ comment.user }} <small><i>at {{ comment.born_on }}:</i></small></h4>
        <p>{{ comment.text }}</p>
        </div>
    </div>
    {% endfor %}
{% endif %}

<br>
<!-- Show comment form + button only if user is logged in, else no form passed in. -->
{% if user.is_authenticated %}
    <form action="/comment" method="POST">
    {% csrf_token %}
	
<div class="row top-breather"> 
		<table class="table vertical-center">{{ form.as_table }}</table>
		<input type="hidden" name="video" value="{{video.id}}"> </input><br>
        	<button type="submit" class="btn btn-primary vertical-center">Submit Comment</button>
</div>
    </form>
{% else %}
    You must be signed in to add a comment. <br><br>
{% endif %}




</div>




{% endblock %}

