{% extends "parent.html" %}
{% load static %}
{% load title_format %}
<!-- If every view had some sort of "logged-in bit/indicator passed in, we could extend a different parent for logged out and logged in. " -->

{% block title %}
Insights for {{ title }} 
{% endblock %}

{% block body %}
<h2>Insights For {{ title }}:</h2>
<br>
<div class="container-extend-long">
	<div class="row">
	<div class="col-sm">
		<h4>Word Cloud:</h4>
		<br>
		<img class="wordcloud-pic" src="{{ cloud_path }}">
	</div>
	<div class="col-sm">
		<h4>Predicted Video Category: </h4>
		<p class="insight">{% which_category sentiment %}</p>
	</div>
	</div>
</div>
{% endblock %}

